/* ***************************** Product Title ***************************** ../../images/bannar/texture.png */
.Pages_title.cpt {
    background: url("../../images/bannar/texture.png") no-repeat center, linear-gradient(to right, #d44f40, #ccc);
    color: #fff;
    
}
.Pages_title.cpt h2 {
    margin:25px 0px;
}